## Settings file was created by plugin ReXuvination v1.1.0
## Plugin GUID: XuuXiaolan.ReXuvination

[DevelOptions]

## Enable development dll output
# Setting type: Boolean
# Default value: false
Enabled = false

## Folder where to write the modified dlls
# Setting type: String
# Default value: D:\Games\Lethal Company\Lethal Company\BepInEx\patchers\XuXiaolan-ReXuvination
OutputPath = D:\Games\Lethal Company\Lethal Company\BepInEx\patchers\XuXiaolan-ReXuvination

## Extension to use for the modified dlls
## ( Do not use .dll if outputting inside the BepInEx folders )
# Setting type: String
# Default value: .pdll
OutputExtension = .pdll

