[Audio]

## This enables / disables custom daily and evening ambience songs playing (normal and spooky version too)
# Setting type: Boolean
# Default value: true
Ambience Music = true

## This enables / disables warnings coming from the halloween update
# Setting type: Boolean
# Default value: true
Warnings = true

[Brutal Spookichi]

## This enables / disables the madness (also disables Warnings)
# Setting type: Boolean
# Default value: true
Dont Stay For Too Long = true

[Interior filters]

## This only enables / disables the interior spooky volume
# Setting type: Boolean
# Default value: true
Spookichi Filter = true

## This enables / disables custom interior filter when Slaughterhouse is picked
# Setting type: Boolean
# Default value: true
Slauchi Filter = true

## This enables / disables greyscale filter when ScarletDevilMansion is picked
# Setting type: Boolean
# Default value: true
Scarlet Devil Mansion Filter = true

