## Settings file was created by plugin MikuFumoMod v1.1.0
## Plugin GUID: astrien.mikumod

[MikuFumo Spawn Rarity Settings]

## Sets MikuFumo spawn rarity in maps.
# Setting type: Int32
# Default value: 20
MikuFumo Spawn Rarity = 8

