## Settings file was created by plugin TetoFumoMod v1.3.0
## Plugin GUID: astrien.tetomod

[TetoFumo Music Mute/Unmute Settings]

## Sets TetoFumo Mute/Unmute
# Setting type: Boolean
# Default value: false
TetoFumo Mute/Unmute = false

[TetoFumo Music Volume Settings]

## Sets TetoFumo Music Volume - Stop and play the music again to see effect of this slider
# Setting type: Single
# Default value: 1
TetoFumo Volume = 0.4

[TetoFumo Spawn Rarity Settings]

## Sets TetoFumo spawn rarity in maps.
# Setting type: Int32
# Default value: 20
TetoFumo Spawn Rarity = 7

