## Settings file was created by plugin NeruFumoMod v1.0.2
## Plugin GUID: astrien.nerumod

[NeruFumo Spawn Rarity Settings]

## Sets NeruFumo spawn rarity in maps.
# Setting type: Int32
# Default value: 20
NeruFumo Spawn Rarity = 7

