## Settings file was created by plugin BetterBetterTeleporter v1.3.0
## Plugin GUID: BetterBetterTeleporter

[General]

## Resets the cooldown time on teleporters between days.
# Setting type: Boolean
# Default value: false
ResetCooldownOnOrbit = true

[Inverse Teleporter]

## Cooldown time (in seconds) for using the Inverse Teleporter.
# Setting type: Int32
# Default value: 210
# Acceptable value range: From 0 to 2147483647
InverseTeleporterCooldown = 210

## Makes the Inverse Teleporter "Drop" or "Keep" items on teleport.
# Setting type: ItemTeleportBehavior
# Default value: Drop
# Acceptable values: Keep, Drop
InverseTeleporterBehavior = Drop

## Keep these items regardless of Inverse Teleporter behavior (comma-separated item names).
## 
## Does nothing if InverseTeleporterBehavior is set to "Keep".
# Setting type: String
# Default value: 
InverseTeleporterAlwaysKeep = WalkieTalkie,Flashlight,ProFlashlight,abandonedBBFlashlight,proAbandonedFlashlight,ScarletFlashlight,ScarletPro Flashlight

## Drop these items regardless of Inverse Teleporter behavior (comma-separated item names).
## 
## Does nothing if InverseTeleporterBehavior is set to "Drop".
# Setting type: String
# Default value: 
InverseTeleporterAlwaysDrop = 

## Drains all held battery items by a percentage when using the Inverse Teleporter.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
BatteryDrainPercent = 15

[Teleporter]

## Cooldown time (in seconds) for using the Teleporter.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 2147483647
TeleporterCooldown = 10

## Makes the Teleporter "Drop" or "Keep" items on teleport.
# Setting type: ItemTeleportBehavior
# Default value: Drop
# Acceptable values: Keep, Drop
TeleporterBehavior = Drop

## Keep these items regardless of Teleporter behavior (comma-separated item names).
## 
## Does nothing if TeleporterBehavior is set to "Keep".
# Setting type: String
# Default value: 
TeleporterAlwaysKeep = WalkieTalkie,Flashlight,ProFlashlight,abandonedBBFlashlight,proAbandonedFlashlight,ScarletFlashlight,ScarletPro Flashlight

## Drop these items regardless of Teleporter behavior (comma-separated item names).
## 
## Does nothing if TeleporterBehavior is set to "Drop".
# Setting type: String
# Default value: 
TeleporterAlwaysDrop = 

