## Settings file was created by plugin SirenHead v2.0.3
## Plugin GUID: Ccode.SirenHead

[General]

## Which animation Siren Head will spawn in
# Setting type: String
# Default value: random
AI Start Animation = random

## Walking speed of Siren Head
# Setting type: Single
# Default value: 3.5
Siren Head Walk Speed = 3.5

## Running speed of Siren Head
# Setting type: Single
# Default value: 7
Siren Head Run Speed = 7

## Moons that Siren Head will spawn on. Format as: "MoonName:SpawnWeight". Check README for more info.
# Setting type: String
# Default value: VowLevel:100;MarchLevel:100
Moons = VowLevel:70;OffenseLevel:5;MarchLevel:45;AdamanceLevel:10;RendLevel:10;DineLevel:20;TenebrousLevel:3;BorealLevel:30;VerdanceLevel:10;PrecipiceLevel:55;IncalescenceLevel:2;VolitionLevel:5;BozorosLevel:15;WitherLevel:10;FremistLevel:15;KanieLevel:8;ChronosLevel:3;RockwellLevel:40;JunicLevel:20;EternLevel:20;AcidirLevel:20;InfernisLevel:15;SolaceLevel:25;AuralisLevel:30;Seichi:15

