## Settings file was created by plugin MoreAds v2.1.0
## Plugin GUID: com.github.cdusold.LethalMoreAds

[General]

## Maximum number of ads to show per day. -1 means unlimited.
# Setting type: Int32
# Default value: -1
Max ads per day = 2

## Maximum number of ads to show each quota. -1 means unlimited. Vanilla is 1
# Setting type: Int32
# Default value: -1
Max ads per quota = 2

## Chance to show an ad as soon as possible upon landing. In percent. Vanilla is 0%.
# Setting type: Int32
# Default value: 100
Chance to play ad on landing = 5

## Chance to show an ad as soon as possible upon landing on the last day before quota is due. In percent. Vanilla is 0%.
# Setting type: Int32
# Default value: 100
Chance to play ad on landing on last day = 5

## Chance for an ad to be scheduled on landing, if the one during landing is skipped. In percent. Vanilla is 33%. (Except on final day when it's 60% but there's no setting for that yet.)
# Setting type: Int32
# Default value: 100
Chance to play at least one ad without other triggers = 30

## Chance for an ad to be scheduled on landing on the last day before quota is due, if the one during landing is skipped. In percent. Vanilla is 60%.
# Setting type: Int32
# Default value: 100
Chance to play at least one ad without other triggers on last day = 40

## Chance for an ad to be scheduled on landing, if the one during landing is skipped. In percent. Vanilla is 0%
# Setting type: Int32
# Default value: 100
Chance to schedule an ad after one is played = 10

## Chance for an ad to be scheduled on landing on the last day before quota is due, if the one during landing is skipped. In percent. Vanilla is 0%
# Setting type: Int32
# Default value: 100
Chance to schedule an ad after one is played on last day = 5

## The earliest time in the day to show an ad, in normalized time (0.0f to 1.0f). Vanilla is 0.0f.
# Setting type: Single
# Default value: 0
Earliest time to show ad = 0

## The latest time in the day to show an ad, in normalized time (0.0f to 1.0f). Vanilla is 0.7f.
# Setting type: Single
# Default value: 0.9
Latest time to show ad = 0.9

## The minimum time in seconds between ads.
# Setting type: Single
# Default value: 60
Minimum time between ads (seconds) = 60

## What to do with ads when the player dies. Options: Immediately, RerollNext, None.
# Setting type: NextAdAction
# Default value: RerollNext
# Acceptable values: Immediately, RerollNext, None
Play ad on death = None

## Chance to apply the action above when the player dies. In percent. If you want more control.
# Setting type: Int32
# Default value: 100
Chance to play ad on death = 0

## Chance to apply the action above when the player dies on the last day before quota is due. In percent. If you want more control.
# Setting type: Int32
# Default value: 100
Chance to play ad on death on last day = 0

## What to do with ads when the player is hurt. Options: Immediately, RerollNext, None.
# Setting type: NextAdAction
# Default value: RerollNext
# Acceptable values: Immediately, RerollNext, None
Play ad on hurt = None

## Chance to apply the action above when the player is hurt. In percent. If you want more control.
# Setting type: Int32
# Default value: 100
Chance to play ad on hurt = 0

## Chance to apply the action above when the player is hurt on the last day before quota is due. In percent. If you want more control.
# Setting type: Int32
# Default value: 100
Chance to play ad on hurt on last day = 0

## List of item names to never show. Use the exact name as it appears in the game, comma separated.
# Setting type: String
# Default value: Bee Suit,Bunny Suit,Green suit,Hazard suit,Pajama suit,Purple Suit
Blacklist = Pickaxe,Axe,Scarlet Key,Toy Hammer,Dart,Utility Belt,Pinger,Bandages,Remote Radar,Spray paint,Wall0,Wall1,Wall2,Wall3,Wall4,Wall5,Wall6,Wall7,Wall8,Wall9,Wall10,Wall11,Wall12,Wall13,Wall14,Emergency Flare (ammo),Flaregun

## List of sales text to use for ads. Format: 'Text:Weight', comma separated. Defaults to vanilla values.
# Setting type: String
# Default value: CURES CANCER!:3,NO WAY!:3,LIMITED TIME ONLY!:24,GET YOURS TODAY!:30,AVAILABLE NOW!:40
Sales Text = LIMITED TIME ONLY!:20,GET YOURS TODAY!:30,AVAILABLE NOW!:40,DISCOUNTED!:10

## Enable debug logging. This will log a lot of information to the console.
# Setting type: Boolean
# Default value: false
Debug = false

