## Settings file was created by plugin CustomOutsideObjects v1.3.0
## Plugin GUID: CustomOutsideObjects

[CrystalGroup]

## CrystalGroup can spawn.
# Setting type: Boolean
# Default value: true
Enabled = true

## What moons the object can spawn on.
## Default moons match the Default Tags. Separate moon names with a comma.
# Setting type: String
# Default value: Adamance, Embrion
Spawn on Moons = Adamance, Embrion, Detritus, Acheron, Nephrite, Wither, Siabudabu, Slience, Kiln

## What surfaces the object can spawn on. Separate tags with a comma.
# Setting type: String
# Default value: Rock
Spawn on Tags = Rock

Spawn on Adamance = true

Spawn on Embrion = true

Spawn on Baykalmoon = true

Spawn on Espiramoon = true

Spawn on Halationmoon = true

Spawn on Lithiummoon = true

Spawn on Makronmoon = true

Spawn on Pandoramusmoon = true

Spawn on Praetormoon = true

Spawn on Rockwellmoon = true

Spawn on Ultimatummoon = true

Spawn on Collateral = true

Spawn on FrozenLake = true

Spawn on Hydro = true

Spawn on Humidity = true

Spawn on Submersion = true

Spawn on Redrock = true

Spawn on Zenith = true

Spawn on Earthbound = true

Spawn on Vertigo = true

Spawn on Grayrock = true

Spawn on Vaporization = true

Spawn on Cragzone = true

Spawn on Derelict = true

Spawn on Arcadia = true

Spawn on Atlasabyss = true

Spawn on Bozoros = true

Spawn on Arelion = true

Spawn on Olympus = true

Spawn on Seichi = true

Spawn on Flickermoon = true

Spawn on Borealmod = true

Spawn on Calamitousmod = true

Spawn on Precipicemod = true

Spawn on Tenebrousmod = true

Spawn on Verdancemod = true

Spawn on Genericmoons = true

Spawn on Voxxmoons = true

[Lamp]

## Lamp can spawn.
# Setting type: Boolean
# Default value: true
Enabled = true

## What moons the object can spawn on.
## Default moons match the Default Tags. Separate moon names with a comma.
# Setting type: String
# Default value: Vow, March, Adamance, Artifice, Experimentation, Assurance, Offense, Rend, Dine, Titan, Embrion
Spawn on Moons = Vow,March,Adamance,Artifice,Experimentation,Assurance,Offense,Rend,Dine,Titan,Embrion,Incalescense,Rampart,Precipice,Tenebrous,Boreal,Pareidolia,Desperation,Symbiosis,Wither,Acheron,Nephrite,Obscura,Kanie,Forsaken,Taldor,Row,Hollowed,Vigilance,Subsidence

## What surfaces the object can spawn on. Separate tags with a comma.
# Setting type: String
# Default value: Grass, Gravel, Snow, Concrete
Spawn on Tags = Grass, Gravel, Snow, Concrete

Spawn on Experimentation = true

Spawn on Assurance = true

Spawn on Vow = true

Spawn on Offense = true

Spawn on March = true

Spawn on Adamance = true

Spawn on Rend = true

Spawn on Dine = true

Spawn on Titan = true

Spawn on Embrion = true

Spawn on Artifice = true

Spawn on Baykalmoon = true

Spawn on Espiramoon = true

Spawn on Halationmoon = true

Spawn on Lithiummoon = true

Spawn on Makronmoon = true

Spawn on Pandoramusmoon = true

Spawn on Praetormoon = true

Spawn on Rockwellmoon = true

Spawn on Ultimatummoon = true

Spawn on Collateral = true

Spawn on FrozenLake = true

Spawn on Hydro = true

Spawn on Humidity = true

Spawn on Submersion = true

Spawn on Redrock = true

Spawn on Zenith = true

Spawn on Earthbound = true

Spawn on Vertigo = true

Spawn on Grayrock = true

Spawn on Vaporization = true

Spawn on Cragzone = true

Spawn on Derelict = true

Spawn on Arcadia = true

Spawn on Atlasabyss = true

Spawn on Bozoros = true

Spawn on Arelion = true

Spawn on Olympus = true

Spawn on Seichi = true

Spawn on Flickermoon = true

Spawn on Borealmod = true

Spawn on Calamitousmod = true

Spawn on Precipicemod = true

Spawn on Tenebrousmod = true

Spawn on Verdancemod = true

Spawn on Genericmoons = true

Spawn on Voxxmoons = true

[LampFlicker]

## LampFlicker can spawn.
# Setting type: Boolean
# Default value: true
Enabled = true

## What moons the object can spawn on.
## Default moons match the Default Tags. Separate moon names with a comma.
# Setting type: String
# Default value: Vow, March, Adamance, Artifice, Experimentation, Assurance, Offense, Rend, Dine, Titan, Embrion
Spawn on Moons = Vow,March,Adamance,Artifice,Experimentation,Assurance,Offense,Rend,Dine,Titan,Embrion,Incalescense,Rampart,Precipice,Tenebrous,Boreal,Pareidolia,Desperation,Symbiosis,Wither,Acheron,Nephrite,Obscura,Kanie,Forsaken,Taldor,Dejection,Row,Hollowed,Vigilance,Subsidence

## What surfaces the object can spawn on. Separate tags with a comma.
# Setting type: String
# Default value: Grass, Gravel, Snow, Concrete
Spawn on Tags = Grass, Gravel, Snow, Concrete

Spawn on Experimentation = true

Spawn on Assurance = true

Spawn on Vow = true

Spawn on Offense = true

Spawn on March = true

Spawn on Adamance = true

Spawn on Rend = true

Spawn on Dine = true

Spawn on Titan = true

Spawn on Embrion = true

Spawn on Artifice = true

Spawn on Baykalmoon = true

Spawn on Espiramoon = true

Spawn on Halationmoon = true

Spawn on Lithiummoon = true

Spawn on Makronmoon = true

Spawn on Pandoramusmoon = true

Spawn on Praetormoon = true

Spawn on Rockwellmoon = true

Spawn on Ultimatummoon = true

Spawn on Collateral = true

Spawn on FrozenLake = true

Spawn on Hydro = true

Spawn on Humidity = true

Spawn on Submersion = true

Spawn on Redrock = true

Spawn on Zenith = true

Spawn on Earthbound = true

Spawn on Vertigo = true

Spawn on Grayrock = true

Spawn on Vaporization = true

Spawn on Cragzone = true

Spawn on Derelict = true

Spawn on Arcadia = true

Spawn on Atlasabyss = true

Spawn on Bozoros = true

Spawn on Arelion = true

Spawn on Olympus = true

Spawn on Seichi = true

Spawn on Flickermoon = true

Spawn on Borealmod = true

Spawn on Calamitousmod = true

Spawn on Precipicemod = true

Spawn on Tenebrousmod = true

Spawn on Verdancemod = true

Spawn on Genericmoons = true

Spawn on Voxxmoons = true

[LargeRibcage]

## LargeRibcage can spawn.
# Setting type: Boolean
# Default value: true
Enabled = true

## What moons the object can spawn on.
## Default moons match the Default Tags. Separate moon names with a comma.
# Setting type: String
# Default value: Experimentation, Assurance, Offense, Vow, March, Adamance, Artifice, Rend, Dine, Titan
Spawn on Moons = Experimentation,Assurance,Offense,Vow,March,Adamance,Artifice,Rend,Dine,Titan,Calamitous,Attenuation,Wither,Kanie,Desperation,Bilge,Thallasic,Solitude,Veld,Terra,The Iris,Forsaken,Taldor,Ascension,Row,Allure,Halcyon,Shutter,Abaddon,Vigilance,Flicker,Seichi,Subsidence,Thrive,Fracture

## What surfaces the object can spawn on. Separate tags with a comma.
# Setting type: String
# Default value: Gravel, Grass, Snow
Spawn on Tags = Gravel, Grass, Snow

Spawn on Experimentation = true

Spawn on Assurance = true

Spawn on Vow = true

Spawn on Offense = true

Spawn on March = true

Spawn on Adamance = true

Spawn on Rend = true

Spawn on Dine = true

Spawn on Titan = true

Spawn on Artifice = true

Spawn on Baykalmoon = true

Spawn on Espiramoon = true

Spawn on Halationmoon = true

Spawn on Lithiummoon = true

Spawn on Makronmoon = true

Spawn on Pandoramusmoon = true

Spawn on Praetormoon = true

Spawn on Rockwellmoon = true

Spawn on Ultimatummoon = true

Spawn on Collateral = true

Spawn on FrozenLake = true

Spawn on Hydro = true

Spawn on Humidity = true

Spawn on Submersion = true

Spawn on Redrock = true

Spawn on Zenith = true

Spawn on Earthbound = true

Spawn on Vertigo = true

Spawn on Grayrock = true

Spawn on Vaporization = true

Spawn on Cragzone = true

Spawn on Derelict = true

Spawn on Arcadia = true

Spawn on Atlasabyss = true

Spawn on Bozoros = true

Spawn on Arelion = true

Spawn on Olympus = true

Spawn on Seichi = true

Spawn on Flickermoon = true

Spawn on Borealmod = true

Spawn on Calamitousmod = true

Spawn on Precipicemod = true

Spawn on Tenebrousmod = true

Spawn on Verdancemod = true

Spawn on Genericmoons = true

Spawn on Voxxmoons = true

[Mangrove]

## Mangrove can spawn.
# Setting type: Boolean
# Default value: true
Enabled = false

## What moons the object can spawn on.
## Default moons match the Default Tags. Separate moon names with a comma.
# Setting type: String
# Default value: Vow, March, Adamance, Artifice
Spawn on Moons = Vow,March,Adamance,Artifice,Rampart,Volition,Wither,Kanie,Verdance,Symbiosis,Veld,Terra,Taldor,Dejection,Forsaken,Subsidence,Thrive,Halcyon

## What surfaces the object can spawn on. Separate tags with a comma.
# Setting type: String
# Default value: Grass
Spawn on Tags = Grass

Spawn on Vow = true

Spawn on March = true

Spawn on Adamance = true

Spawn on Artifice = true

Spawn on Baykalmoon = true

Spawn on Espiramoon = true

Spawn on Halationmoon = true

Spawn on Lithiummoon = true

Spawn on Makronmoon = true

Spawn on Pandoramusmoon = true

Spawn on Praetormoon = true

Spawn on Rockwellmoon = true

Spawn on Ultimatummoon = true

Spawn on Collateral = true

Spawn on FrozenLake = true

Spawn on Hydro = true

Spawn on Humidity = true

Spawn on Submersion = true

Spawn on Redrock = true

Spawn on Zenith = true

Spawn on Earthbound = true

Spawn on Vertigo = true

Spawn on Grayrock = true

Spawn on Vaporization = true

Spawn on Cragzone = true

Spawn on Derelict = true

Spawn on Arcadia = true

Spawn on Atlasabyss = true

Spawn on Bozoros = true

Spawn on Arelion = true

Spawn on Olympus = true

Spawn on Seichi = true

Spawn on Flickermoon = true

Spawn on Borealmod = true

Spawn on Calamitousmod = true

Spawn on Precipicemod = true

Spawn on Tenebrousmod = true

Spawn on Verdancemod = true

Spawn on Genericmoons = true

Spawn on Voxxmoons = true

[Shack]

## Shack can spawn.
# Setting type: Boolean
# Default value: true
Enabled = true

## What moons the object can spawn on.
## Default moons match the Default Tags. Separate moon names with a comma.
# Setting type: String
# Default value: Vow, March, Adamance, Artifice, Rend, Dine, Titan
Spawn on Moons = Vow,March,Adamance,Artifice,Rend,Dine,Titan,Veld,Flicker,Verdance,Boreal,Wither,Halcyon,Kanie,Volition,Thrive,Ingression

## What surfaces the object can spawn on. Separate tags with a comma.
# Setting type: String
# Default value: Grass, Snow
Spawn on Tags = Grass, Snow

Spawn on Vow = true

Spawn on March = true

Spawn on Adamance = true

Spawn on Rend = true

Spawn on Dine = true

Spawn on Titan = true

Spawn on Artifice = true

Spawn on Baykalmoon = true

Spawn on Espiramoon = true

Spawn on Halationmoon = true

Spawn on Lithiummoon = true

Spawn on Makronmoon = true

Spawn on Pandoramusmoon = true

Spawn on Praetormoon = true

Spawn on Rockwellmoon = true

Spawn on Ultimatummoon = true

Spawn on Collateral = true

Spawn on FrozenLake = true

Spawn on Hydro = true

Spawn on Humidity = true

Spawn on Submersion = true

Spawn on Redrock = true

Spawn on Zenith = true

Spawn on Earthbound = true

Spawn on Vertigo = true

Spawn on Grayrock = true

Spawn on Vaporization = true

Spawn on Cragzone = true

Spawn on Derelict = true

Spawn on Arcadia = true

Spawn on Atlasabyss = true

Spawn on Bozoros = true

Spawn on Arelion = true

Spawn on Olympus = true

Spawn on Seichi = true

Spawn on Flickermoon = true

Spawn on Borealmod = true

Spawn on Calamitousmod = true

Spawn on Precipicemod = true

Spawn on Tenebrousmod = true

Spawn on Verdancemod = true

Spawn on Genericmoons = true

Spawn on Voxxmoons = true

[ShackVariant]

## ShackVariant can spawn.
# Setting type: Boolean
# Default value: true
Enabled = true

## What moons the object can spawn on.
## Default moons match the Default Tags. Separate moon names with a comma.
# Setting type: String
# Default value: Vow, March, Adamance, Artifice, Rend, Dine, Titan
Spawn on Moons = Vow,March,Adamance,Artifice,Rend,Dine,Titan,Veld,Flicker,Verdance,Boreal,Wither,Halcyon,Kanie,Volition,Thrive,Ingression

## What surfaces the object can spawn on. Separate tags with a comma.
# Setting type: String
# Default value: Grass, Snow
Spawn on Tags = Grass, Snow

Spawn on Vow = true

Spawn on March = true

Spawn on Adamance = true

Spawn on Rend = true

Spawn on Dine = true

Spawn on Titan = true

Spawn on Artifice = true

Spawn on Baykalmoon = true

Spawn on Espiramoon = true

Spawn on Halationmoon = true

Spawn on Lithiummoon = true

Spawn on Makronmoon = true

Spawn on Pandoramusmoon = true

Spawn on Praetormoon = true

Spawn on Rockwellmoon = true

Spawn on Ultimatummoon = true

Spawn on Collateral = true

Spawn on FrozenLake = true

Spawn on Hydro = true

Spawn on Humidity = true

Spawn on Submersion = true

Spawn on Redrock = true

Spawn on Zenith = true

Spawn on Earthbound = true

Spawn on Vertigo = true

Spawn on Grayrock = true

Spawn on Vaporization = true

Spawn on Cragzone = true

Spawn on Derelict = true

Spawn on Arcadia = true

Spawn on Atlasabyss = true

Spawn on Bozoros = true

Spawn on Arelion = true

Spawn on Olympus = true

Spawn on Seichi = true

Spawn on Flickermoon = true

Spawn on Borealmod = true

Spawn on Calamitousmod = true

Spawn on Precipicemod = true

Spawn on Tenebrousmod = true

Spawn on Verdancemod = true

Spawn on Genericmoons = true

Spawn on Voxxmoons = true

[Snowman]

## Snowman can spawn.
# Setting type: Boolean
# Default value: true
Enabled = false

## What moons the object can spawn on.
## Default moons match the Default Tags. Separate moon names with a comma.
# Setting type: String
# Default value: Rend, Dine, Titan
Spawn on Moons = Rend,Dine,Titan,Boreal,Precipice,Siabudabu,Reign,Chronos,Abaddon,Ascension,Alacrity

## What surfaces the object can spawn on. Separate tags with a comma.
# Setting type: String
# Default value: Snow
Spawn on Tags = Snow

Spawn on Rend = true

Spawn on Dine = true

Spawn on Titan = true

Spawn on Baykalmoon = true

Spawn on Espiramoon = true

Spawn on Halationmoon = true

Spawn on Lithiummoon = true

Spawn on Makronmoon = true

Spawn on Pandoramusmoon = true

Spawn on Praetormoon = true

Spawn on Rockwellmoon = true

Spawn on Ultimatummoon = true

Spawn on Collateral = true

Spawn on FrozenLake = true

Spawn on Hydro = true

Spawn on Humidity = true

Spawn on Submersion = true

Spawn on Redrock = true

Spawn on Zenith = true

Spawn on Earthbound = true

Spawn on Vertigo = true

Spawn on Grayrock = true

Spawn on Vaporization = true

Spawn on Cragzone = true

Spawn on Derelict = true

Spawn on Arcadia = true

Spawn on Atlasabyss = true

Spawn on Bozoros = true

Spawn on Arelion = true

Spawn on Olympus = true

Spawn on Seichi = true

Spawn on Flickermoon = true

Spawn on Borealmod = true

Spawn on Calamitousmod = true

Spawn on Precipicemod = true

Spawn on Tenebrousmod = true

Spawn on Verdancemod = true

Spawn on Genericmoons = true

Spawn on Voxxmoons = true

[-Valid Options]

## Base game:
## Experimentation, Assurance, Vow, Offense, March, Adamance, Rend, Dine, Titan, Embrion, Artifice
# Setting type: String
# Default value: 
Valid Moon Names = 

## Common tags:
## Gravel, Grass, Snow, Rock, Concrete, Catwalk, Wood
## 
## Other valid tags:
## Untagged, Metal, Carpet, Puddle, Aluminum
# Setting type: String
# Default value: 
Valid Tag Names = 

