## Settings file was created by plugin DeviousTraps v1.6.0
## Plugin GUID: DeviousTraps

[Flame Turret]

## How often do these turrets spawn? (default 1.0)
# Setting type: Single
# Default value: 1
Spawnrate = 0.5

## Damage Multiplier for flame turrets. You can make them heal with negative values too. (default 2.56)
# Setting type: Single
# Default value: 2.56
Dmg Multiplier = 2.56

## How far away a flame turret can see you. They can't see through walls though. (default 7)
# Setting type: Single
# Default value: 7
Range = 7

## Time in seconds it takes for a flame turret to rise up and fire at you. (default 1.4)
# Setting type: Single
# Default value: 1.4
Rising Time = 1.4

## How long does the flame turret rest before firing again? In seconds. (default 3)
# Setting type: Single
# Default value: 3
Resting Time = 3

## How long does the flame turret spin for (attack duration)? In seconds. (default 3)
# Setting type: Single
# Default value: 3
Spinning Time = 3

## How fast does a flame turret rotate when attacking (degrees per second)? (default 120)
# Setting type: Single
# Default value: 120
Rotation Speed = 120

## How often a flame turret releases smoke to warn the player of its presence. The smoke release phase lasts for 4.5 seconds. (default 20)
# Setting type: Single
# Default value: 20
Warning Interval = 20

## How loud are all sounds from this turret? (default 0.6)
# Setting type: Single
# Default value: 0.48
Volume = 0.48

[Mouse Trap]

## How often do mouse traps spawn? Note that this is for 3 separate groups of mousetraps, not just one. (default 0.8)
# Setting type: Single
# Default value: 0.8
Spawnrate = 0.4

## Percent chance for a mouse trap to spawn as a large one. (default 12%)
# Setting type: Single
# Default value: 12
Big Mouse Trap Chance = 12

## Percent chance for a mouse trap to be giant. Giant traps have scrap as bait. You have to be really careful when stealing the bait! (default 8%)
# Setting type: Single
# Default value: 8
Giant Mouse Trap Chance = 8

## Damage Amount for small traps. You can make them heal with negative values too. (default 12)
# Setting type: Int32
# Default value: 12
Small Mouse Trap Damage = 12

## Damage Amount for Medium traps. You can make them heal with negative values too. (default 36)
# Setting type: Int32
# Default value: 36
Big Mouse Trap Damage = 36

## Damage Amount for Large traps. You can make them heal with negative values too. (default 100)
# Setting type: Int32
# Default value: 100
Giant Mouse Trap Damage = 100

## If Small Mouse Traps stick onto players. A weapon is required to remove the trap (default true).
# Setting type: Boolean
# Default value: true
Small Mouse Trap Attachment = true

## If mouse traps stuck onto players need a weapon to remove them. (default true)
# Setting type: Boolean
# Default value: true
Weapon required to remove trap = true

## If all mouse traps can be disabled permanently by hitting them with a melee weapon. (default true)
# Setting type: Boolean
# Default value: true
Traps can be disabled = true

## All scrap in this whitelist can be selected as bait for the giant trap. Enter the name that appears when you scan the scrap in-game. Comma separated list. (not case sensitive).
# Setting type: String
# Default value: gift box, jar of pickles, gold bar, fancy lamp, golden cup, zed dog
Bait whitelist = gift box, jar of pickles, gold bar, fancy lamp, golden cup, zed dog, maxwell

## Alters the size of the hitbox that makes the giant mouse trap bait grabbable by players. The lower the value, the harder it is to get the item. 0.63 = insane, 0.65 = hard, 0.8 = forgiving, 1 = very forgiving (default 0.65)
# Setting type: Single
# Default value: 0.65
Mouse Trap Bait Forgiveness = 0.65

[Plasma Turret]

## How often do these turrets spawn? (default 1.0)
# Setting type: Single
# Default value: 1
Spawnrate = 0.5

## Damage Multiplier for plasma projectiles. You can make them heal with negative values too. A multiplier of 1 deals 20 damage on contact. (default 1)
# Setting type: Int32
# Default value: 1
Dmg Multiplier = 1

## How long a plasma turret takes before it starts firing projectiles at you (in seconds). (default 1.4)
# Setting type: Single
# Default value: 1.2
Windup Time = 1.2

## How long it takes for a plasma turret to reload (in seconds). (default 12)
# Setting type: Single
# Default value: 12
Reload Time = 12

## How far away a plasma turret can see you. They can't see through walls though. (default 25)
# Setting type: Single
# Default value: 25
Range = 25

## How many plasma balls are fired per burst? (default 3)
# Setting type: Int32
# Default value: 3
Burst Quantity = 3

## How many bursts are fired before reloading? (default 2)
# Setting type: Int32
# Default value: 2
Bursts per reload = 2

## What is the delay between each plasma ball in a burst (in seconds)? (default 0.3)
# Setting type: Single
# Default value: 0.3
Delay per projectile = 0.3

## What is the delay between each burst of plasma (in seconds)? (default 1.3)
# Setting type: Single
# Default value: 1.3
Delay per Burst = 1.3

## How fast are the plasma balls launched from this turret? Assume you are setting a speed in meters per second. (default 18)
# Setting type: Single
# Default value: 18
Projectile Launch Speed = 18

## How loud are all sounds from this turret and its projectiles? (default 0.65)
# Setting type: Single
# Default value: 0.65
Turret Volume = 0.65

## Lifetime of a plasma ball (in seconds). Plasma balls are very bouncy, so higher values will give them more bounces and cause more chaos. (default 5)
# Setting type: Single
# Default value: 5
Plasma Ball Lifetime = 5

## How quickly does the Plasma Turret rotate to face its target (degrees per second)? The lower the value, the easier it is to outmaneuver. (default 67)
# Setting type: Single
# Default value: 67
Rotation Speed = 67

[Saw Turret]

## How often do these turrets spawn? (default 1.0)
# Setting type: Single
# Default value: 1
Spawnrate = 0.5

## Length of time between each saw after windup. (default 1.45)
# Setting type: Single
# Default value: 1.45
Time Between Shots = 1.45

## Damage multiplier for saw blades. Dmg is also dependent on the velocity of a saw blade. You can make them heal with negative values too. (default 1.8)
# Setting type: Single
# Default value: 1.8
Dmg Multiplier = 1.8

## How far away a saw turret can see you. They can't see through walls though. (default 25)
# Setting type: Single
# Default value: 25
Range = 25

## How long a saw turret takes before it starts firing saws at you. (default 1.45)
# Setting type: Single
# Default value: 1.45
Windup Time = 1.45

## Shots it takes before the turret has to reload. (default 4)
# Setting type: Int32
# Default value: 4
Ammo = 4

## How long it takes for a saw turret to reload its sawblades (default 8)
# Setting type: Single
# Default value: 8
Reload Time = 8

## How fast are the saws launched from the saw turret? Note that the faster a saw travels, the more damage it will deal. Assume you are applying a force in Newtons (N) to the object. (default 3000)
# Setting type: Single
# Default value: 3000
Projectile Speed = 3000

## How loud are all sounds from this turret? (default 0.6)
# Setting type: Single
# Default value: 0.4
Volume = 0.4

## How quickly does the Saw Turret rotate to face its target (degrees per second)? The lower the value, the easier it is to outmaneuver. (default 100)
# Setting type: Single
# Default value: 100
Rotation Speed = 100

[Sound Turret]

## How often do these turrets spawn? (default 0.8)
# Setting type: Single
# Default value: 0.8
Spawnrate = 0.4

## How far away the LRAD (sound turret) can see you. They can't see through walls though. (default 50)
# Setting type: Single
# Default value: 50
Range = 50

## Damage Multiplier for sound turrets. You can make them heal with negative values too. (default 1)
# Setting type: Single
# Default value: 1
Dmg Multiplier = 1

## Multiplier for the Speed of the launched sound wave. (default 1.5)
# Setting type: Single
# Default value: 1.5
Projectile Speed Multiplier = 1.5

## Length of time before the sound cannon can fire again. (default 30)
# Setting type: Single
# Default value: 60
Time Between Shots = 60

## Time it takes for the LRAD to charge and fire a sound wave in seconds. (default 5.53)
# Setting type: Single
# Default value: 5.53
Charge Up Time = 5.53

## How long deafness, visual fx, drunkness, and dizziness takes to fade away in seconds (default 20).
# Setting type: Single
# Default value: 20
Disorientation Period = 20

## How much the LRAD cannon messes around with your movement, causing you to sway unpredictably. (default 1)
# Setting type: Single
# Default value: 1
Dizzyness multiplier = 1

## How strong the drunkness effect from the LRAD cannon is. (default 2)
# Setting type: Single
# Default value: 2
Drunkness Multiplier = 2

## Opacity multiplier to the noise and glitch visual FX when hit by the cannon. Higher values are equivalent to total blindness (default 0.8)
# Setting type: Single
# Default value: 0.8
FX Intensity = 0.8

## How loud are all sounds from this turret? (default 1)
# Setting type: Single
# Default value: 1
Turret Volume = 1

## How loud are all sounds from the Disorientation/Impact effect? (default 1)
# Setting type: Single
# Default value: 1
FX Volume = 1

## How quickly does the LRAD rotate to face its target (degrees per second)? The lower the value, the easier it is to outmaneuver. (default 60)
# Setting type: Single
# Default value: 60
Rotation Speed = 60

