## Settings file was created by plugin ImprovedLethalThings.ItemConfig v1.0.3
## Plugin GUID: HQ_Team.ImprovedLethalThings.ItemConfig

[Missile Options]

## Whether Missile is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Missile.
# Setting type: Boolean
# Default value: false
Missile | Allow Editing Config = true

## Preset moon weights for Missile.
# Setting type: String
# Default value: 
Missile | Preset Moon Weights = 

## Preset interior weights for Missile.
# Setting type: String
# Default value: 
Missile | Preset Interior Weights = 

## Preset weather weights for Missile.
# Setting type: String
# Default value: 
Missile | Preset Weather Weights = 

## Preset route weights for Missile.
# Setting type: String
# Default value: 
Missile | Preset Route Weights = 

## Whether Missile is a scrap item.
# Setting type: Boolean
# Default value: false
Missile | Is Scrap = false

## Whether Missile is a shop item.
# Setting type: Boolean
# Default value: true
Missile | Is Shop Item = true

## Cost for Missile in the shop.
# Setting type: Int32
# Default value: 100
Missile | Cost = 80

