[Aquaticdungeonflow - magic_wesleysmod:aquaticdungeonflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Circusfacilityflow - lethalmattsmod:circusfacilityflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Dam - damlethalbundle:dam]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Dam - the_dam:dam]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Deepmines - beaniebesmod:deepmines]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Deepmines - deepcoreminelethalbundle:deepmines]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Deepsewersflow - magic_wesleysmod:deepsewersflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Expandedfacility - magicwesleysmod:expandedfacility]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Facility - lethal_company:facility]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Facility Extra Large - lethal_company:facility_extra_large]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Facility Three Exits - lethal_company:facility_three_exits]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Facilityextralarge - lethal_company:facility_extra_large]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Facilitythreeexits - lethal_company:facility_three_exits]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Fleshdungeon Lines Attempt - halls_of_flesh:fleshdungeon_lines_attempt]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Fleshdungeonlinesattempt - halls_of_flesh:fleshdungeon_lines_attempt]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Foundryflow - abandoned_foundry_interior:foundryflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Fracturedcomplexflow - magic_wesleysmod:fracturedcomplexflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Grandarmoryflow - magicwesleysmod:grandarmoryflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Grayapartmentsflow - gray_apartments_dungeon:grayapartmentsflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Grayapartmentsflowz - gray_apartments_dungeon:grayapartmentsflowz]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Greenhouseflow - magic_wesleysmod:greenhouseflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Hangarflow - beaniebesmod:hangarflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Levelthreebutcoolflow - magicwesleysmod:levelthreebutcoolflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Mansion - lethal_company:mansion]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Mineshaft - lethal_company:mineshaft]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Museuminteriorflow - magic_wesleysmod:museuminteriorflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Playzonedungeonflow - playzone:playzonedungeonflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Poolroomsflow - poolroomsflow:poolroomsflow]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Ravenflow - raven_manor_interior:ravenflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Researchstationflow - anomalous_contaiment_facility:researchstationflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Rubberroomsflow - therubberrooms:rubberroomsflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Sdmbasement - scarlet_devil_mansion:sdmbasement]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Sdmfoyer - scarlet_devil_mansion:sdmfoyer]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Spelunkbasicflow - spelunkers_caverns_interior:spelunk_basicflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Spelunkcrystalflow - spelunkers_caverns_interior:spelunk_crystalflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Spelunkfiveflow - spelunkers_caverns_interior:spelunkfiveflow]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Spelunkfourflow - spelunkers_caverns_interior:spelunkfourflow]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Spelunkfrozenflow - spelunkers_caverns_interior:spelunk_frozenflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Spelunkmagmaflow - spelunkers_caverns_interior:spelunk_magmaflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Spelunkoneflow - spelunkers_caverns_interior:spelunkoneflow]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Spelunkovergrownflow - spelunkers_caverns_interior:spelunk_overgrownflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Spelunkrandomflow - spelunkers_caverns_interior:spelunk_randomflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Spelunksixflow - spelunkers_caverns_interior:spelunksixflow]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Spelunkthreeflow - spelunkers_caverns_interior:spelunkthreeflow]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Spelunktwoflow - spelunkers_caverns_interior:spelunktwoflow]

Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Spookymanorflow - magicwesleysmod:spookymanorflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Storeflow - magic_wesleysmod:storeflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Studioflow - studio_interior:studioflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Subsysflow - sub_system_interior:subsysflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

[Toystoreflow - toy_store:toystoreflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

Spawnable Scrap = 

