[Configuration]

## Check this to generate and use configuration files for items.
# Setting type: Boolean
# Default value: true
Configure Items = false

## Check this to generate and use configuration files for enemies.
# Setting type: Boolean
# Default value: true
Configure Enemies = true

## Check this to generate and use configuration files for moons.
# Setting type: Boolean
# Default value: true
Configure Moons = true

## Check this to generate and use configuration files for dungeons.
# Setting type: Boolean
# Default value: true
Configure Dungeons = true

## Check this to generate and use configuration files for map objects.
# Setting type: Boolean
# Default value: true
Configure Map Objects = false

## Check this to generate and use configuration files for unlockables.
# Setting type: Boolean
# Default value: true
Configure Unlockables = false

## Check this to generate and use configuration files for weather injection.
# Setting type: Boolean
# Default value: true
Configure Weather Injection = false

## Check this to generate and use configuration files for dungeon injection.
# Setting type: Boolean
# Default value: true
Configure Dungeon Injection = true

## Check this to generate and use configuration files for tag injection.
# Setting type: Boolean
# Default value: true
Configure Tag Injection = false

## Allows Lunar to look for config entries that are named using the previous v0.1.x system, I would advise turning this off after you have all your previous values.
# Setting type: Boolean
# Default value: false
Enable Backwards Compat = false

## WARNING: Enabling this will delete any config entries that get disabled when the configuration is refreshed!
# Setting type: Boolean
# Default value: false
Clear Orphaned Entries = false

## Checking this will make items have a scrap value that already anticipates the *0.4.
# Setting type: Boolean
# Default value: false
Use Simple Scrap Value = false

## Checking this will make items have their weight in pounds, already converting from Zeeker's formula.
# Setting type: Boolean
# Default value: false
Use Simple Weight = false

## Checking this will automatically hide and lock every moon regardless of other options.
# Setting type: Boolean
# Default value: false
Hide And Lock All Moons = false

[Enabled Dungeon Injection Settings]

## Disable this to disable configuring this property in dungeon injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Scrap = false

## Disable this to disable configuring this property in dungeon injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Daytime Enemies = false

## Disable this to disable configuring this property in dungeon injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Interior Enemies = false

## Disable this to disable configuring this property in dungeon injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Outside Enemies = false

[Enabled Dungeon Settings]

## Disable this to disable configuring this property in dungeon config entries.
# Setting type: Boolean
# Default value: true
Random Size Min = true

## Disable this to disable configuring this property in dungeon config entries.
# Setting type: Boolean
# Default value: true
Random Size Max = true

## Disable this to disable configuring this property in dungeon config entries.
# Setting type: Boolean
# Default value: true
Map Tile Size = true

## Disable this to disable configuring this property in dungeon config entries.
# Setting type: Boolean
# Default value: true
Clamp Range Min = true

## Disable this to disable configuring this property in dungeon config entries.
# Setting type: Boolean
# Default value: true
Clamp Range Max = true

## Disable this to disable configuring this property in dungeon config entries.
# Setting type: Boolean
# Default value: true
Tags = true

[Enabled Enemy Settings]

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Display Name = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Scan Name = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Scan Subtext = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Scan Min Range = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Scan Max Range = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Can See Through Fog? = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Door Speed Multiplier = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Is Daytime Enemy? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Is Outdoor Enemy? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Loudness Multiplier = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Max Count = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Power Level = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Diversity Power Level = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Probability Curve = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Use Falloff? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Falloff Curve = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Group Spawn Count = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Normalized Time To Leave = false

## Enable this to enable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: false
Disable Increased Chance Interior = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Enemy HP = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Can Die? = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Destroy On Death? = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Can Destroy? = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Can Stun? = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Stun Difficulty = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Stun Time = false

## Enable this to enable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: false
Bestiary Text = false

## Enable this to enable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: false
Bestiary Keyword = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Tags = true

[Enabled Item Settings]

Display Name = true

Scan Name = true

Scan Subtext = true

Scan Min Range = true

Scan Max Range = true

Minimum Value = true

Maximum Value = true

Weight = true

Conductivity = true

Two-Handed = true

Is Scrap? = true

Sold In Shop? = false

Info Node Text = false

Request Node Text = false

Receipt Node Text = false

Cost = true

Tags = true

[Enabled Map Object Settings]

(Inside) Face Away From Wall? = true

(Inside) Face Towards Wall? = true

(Inside) Disallow Near Entrance? = true

(Inside) Require Distance Between Spawns? = true

(Inside) Flush Against Wall? = true

(Inside) Spawn Against Wall? = true

(Inside) Level Curves = true

(Outside) Align With Terrain? = true

(Outside) Object Width = true

(Outside) Spawnable Floor Tags = true

(Outside) Face Away From Wall? = true

(Outside) Level Curves = true

Tags = true

[Enabled Moon Settings]

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Display Name = true

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Risk Level = true

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Description = true

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Route Price = true

## Disable this to disable configuring these properties in moon config entries.
# Setting type: Boolean
# Default value: true
Is Hidden? & Is Locked? = false

## Enable this to enable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: false
Offset Time = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Can Spawn Shrouds? = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Can Be Challenge Moon? = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Has Time? = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Time Multiplier = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Daytime Probability Range = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Daytime Curve = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Max Daytime Power = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Spawnable Daytime Enemies = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Interior Probability Range = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Interior Curve = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Max Interior Power = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Max Interior Diversity = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Spawnable Interior Enemies = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Outside Probability Range = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Outside Curve = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Max Outside Power = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Max Outside Diversity = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Spawnable Outside Enemies = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Min Scrap = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Max Scrap = false

## Enable this to enable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: false
Min Scrap Total = false

## Enable this to enable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: false
Max Scrap Total = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Interior Multiplier = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Value Multiplier = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Amount Multiplier = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Spawnable Scrap = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Possible Interiors = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Tags = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
LLL Tags = false

## Disable this to disable configuring this property in moon config entries.
# Setting type: Boolean
# Default value: true
Catalogue Index = false

## Add moons here that LunarConfig will ignore Is Hidden? and Is Locked? settings for, regardless of whether Configure Content is enabled.
## This setting uses the Appropriate Aliases of moons!
# Setting type: String
# Default value: 
Is Hidden? & Is Locked? Blacklist = 

[Enabled Tag Injection Settings]

Spawnable Scrap = true

Spawnable Daytime Enemies = true

Spawnable Interior Enemies = true

Spawnable Outside Enemies = true

Possible Interiors = true

[Enabled Unlockable Settings]

Already Unlocked = true

Always In Stock = true

Can Store? = true

Is Placeable? = true

Luck Value = true

Max Number = true

Unlocked In Challenge File = true

Buy Keyword = false

Confirm Node Text = false

Info Node Text = false

Request Node Text = false

Shop Selection Node Text = false

Cost = true

Tags = true

[Enabled Weather Injection Settings]

Spawnable Scrap = true

Spawnable Daytime Enemies = true

Spawnable Interior Enemies = true

Spawnable Outside Enemies = true

Possible Interiors = true

