## Settings file was created by plugin OrbitRecharge v0.1.1
## Plugin GUID: mrov.OrbitRecharge

[Debug]

## Enable debug logging
# Setting type: Boolean
# Default value: false
Debug = false

[General]

## Turn off flashlights at the end of the round
# Setting type: Boolean
# Default value: true
TurnOffFlashlights = true

## Turn off walkies at the end of the round
# Setting type: Boolean
# Default value: true
TurnOffWalkies = true

## Turn off boosters at the end of the round
# Setting type: Boolean
# Default value: true
TurnOffBoosters = true

## Refill spray cans at the end of the round
# Setting type: Boolean
# Default value: true
RefillSprayCans = true

## Refill TZPs at the end of the round
# Setting type: Boolean
# Default value: true
RefillTZPs = true

