## Settings file was created by plugin NoVoidDeath v1.0.0
## Plugin GUID: NoVoidDeath

[General]

## Where you get TPed if you fall out of bounds. If you usually die to inverse teleporter then Ship makes more sense, if it's another TP then entrance might make more sense to you.
# Setting type: String
# Default value: Ship
# Acceptable values: None, Ship, Entrance
TpLocationConfig = Ship

