[Funny]

## It's funnier this way
# Setting type: Boolean
# Default value: false
TillDeathDoUsPart = false

## Removes a transpiler
# Setting type: Boolean
# Default value: false
DisableHealthPatch = false

## Removes a transpilers & patches related to masked enemies and items
# Setting type: Boolean
# Default value: false
DisableMaskPatches = false

