## Settings file was created by plugin Skelaah's Wild Moons v1.0.0
## Plugin GUID: Skelaah.Skelaah's Wild Moons

[Achievement_Birds Options]

## Whether Achievement_Birds is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_Blackout Options]

## Whether Achievement_Blackout is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_Botanic Options]

## Whether Achievement_Botanic is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_EMP Options]

## Whether Achievement_EMP is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_Greenhouse Options]

## Whether Achievement_Greenhouse is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_Pipe Options]

## Whether Achievement_Pipe is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_Red Options]

## Whether Achievement_Red is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_Teliot Options]

## Whether Achievement_Teliot is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_Tide Options]

## Whether Achievement_Tide is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_Train Options]

## Whether Achievement_Train is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_Weed Options]

## Whether Achievement_Weed is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

[Achievement_Ziplines Options]

## Whether Achievement_Ziplines is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

