## Settings file was created by plugin BetterMenu v1.0.0
## Plugin GUID: soundpack.BetterMenu

[Settings]

## Use the updated theme that merges in ShatteredTheme? (true=new false=old)
# Setting type: Boolean
# Default value: true
MenuNew = false

