## Settings file was created by plugin DoctorNoYap v1.0.0
## Plugin GUID: soundpack.DoctorNoYap

[Doctorspeech]

## Disable the rare hell/jumpscare variant of the fear voice line? (Set False to disable)
# Setting type: Boolean
# Default value: true
hell_variant = true

## Disable the rare original yapping line that the mod came with? (Set False to disable)
# Setting type: Boolean
# Default value: true
OG_variant = true

## Disable the rare bell toll voice line? (Set False to disable)
# Setting type: Boolean
# Default value: true
bell_variant = true

