## Settings file was created by plugin SpectateEnemy v2.6.0
## Plugin GUID: SpectateEnemy

[Config]

## Hides the controls toolip on the right hand side.
# Setting type: Boolean
# Default value: false
Hide Controls = false

[Enemies]

## Enables spectating Maid
# Setting type: Boolean
# Default value: true
Maid = true

## Enables spectating Knight
# Setting type: Boolean
# Default value: true
Knight = true

## Enables spectating Siren Head
# Setting type: Boolean
# Default value: true
Siren Head = true

## Enables spectating Tornado
# Setting type: Boolean
# Default value: true
Tornado = true

## Enables spectating Redwood Titan
# Setting type: Boolean
# Default value: true
Redwood Titan = true

## Enables spectating Carnivorous Plant
# Setting type: Boolean
# Default value: true
Carnivorous Plant = true

## Enables spectating Lord Of The Manor
# Setting type: Boolean
# Default value: true
Lord Of The Manor = true

## Enables spectating Janitor
# Setting type: Boolean
# Default value: true
Janitor = true

## Enables spectating Transporter
# Setting type: Boolean
# Default value: true
Transporter = true

## Enables spectating Locker
# Setting type: Boolean
# Default value: true
Locker = true

## Enables spectating Ghost Knight
# Setting type: Boolean
# Default value: true
Ghost Knight = true

## Enables spectating DummyEnemyType
# Setting type: Boolean
# Default value: true
DummyEnemyType = true

## Enables spectating Shockwave Drone
# Setting type: Boolean
# Default value: true
Shockwave Drone = true

## Enables spectating Maggie
# Setting type: Boolean
# Default value: true
Maggie = false

## Enables spectating Boomba
# Setting type: Boolean
# Default value: true
Boomba = true

## Enables spectating Crystal Ray
# Setting type: Boolean
# Default value: true
Crystal Ray = false

## Enables spectating Nemo
# Setting type: Boolean
# Default value: false
Nemo = false

## Enables spectating Horse
# Setting type: Boolean
# Default value: false
Horse = false

## Enables spectating Scary
# Setting type: Boolean
# Default value: true
Scary = true

## Enables spectating Mantis Shrimp
# Setting type: Boolean
# Default value: true
Mantis Shrimp = true

## Enables spectating Bruce
# Setting type: Boolean
# Default value: true
Bruce = true

## Enables spectating BellCrab
# Setting type: Boolean
# Default value: true
BellCrab = true

## Enables spectating Urchin
# Setting type: Boolean
# Default value: false
Urchin = false

## Enables spectating ImmortalSnail
# Setting type: Boolean
# Default value: true
ImmortalSnail = true

## Enables spectating Football
# Setting type: Boolean
# Default value: true
Football = false

## Enables spectating VileVendingMachine
# Setting type: Boolean
# Default value: true
VileVendingMachine = false

## Enables spectating Shy guy
# Setting type: Boolean
# Default value: true
Shy guy = true

## Enables spectating Men-stalker
# Setting type: Boolean
# Default value: false
Men-stalker = false

## Enables spectating CountryRoadCreature
# Setting type: Boolean
# Default value: true
CountryRoadCreature = true

## Enables spectating BlindPup
# Setting type: Boolean
# Default value: true
BlindPup = true

## Enables spectating RadMech
# Setting type: Boolean
# Default value: true
RadMech = true

## Enables spectating Butler Bees
# Setting type: Boolean
# Default value: true
Butler Bees = true

## Enables spectating Masked
# Setting type: Boolean
# Default value: true
Masked = true

## Enables spectating Jester
# Setting type: Boolean
# Default value: true
Jester = true

## Enables spectating Girl
# Setting type: Boolean
# Default value: true
Girl = false

## Enables spectating Pop Poofer
# Setting type: Boolean
# Default value: true
Pop Poofer = true

## Enables spectating Oni
# Setting type: Boolean
# Default value: true
Oni = true

## Enables spectating Baboon hawk
# Setting type: Boolean
# Default value: true
Baboon hawk = true

## Enables spectating Blob
# Setting type: Boolean
# Default value: true
Blob = true

## Enables spectating Butler
# Setting type: Boolean
# Default value: true
Butler = true

## Enables spectating Maneater
# Setting type: Boolean
# Default value: true
Maneater = true

## Enables spectating Centipede
# Setting type: Boolean
# Default value: true
Centipede = true

## Enables spectating Clay Surgeon
# Setting type: Boolean
# Default value: true
Clay Surgeon = true

## Enables spectating Crawler
# Setting type: Boolean
# Default value: true
Crawler = true

## Enables spectating Docile Locust Bees
# Setting type: Boolean
# Default value: false
Docile Locust Bees = false

## Enables spectating Manticoil
# Setting type: Boolean
# Default value: false
Manticoil = false

## Enables spectating Tulip Snake
# Setting type: Boolean
# Default value: false
Tulip Snake = false

## Enables spectating Red Locust Bees
# Setting type: Boolean
# Default value: false
Red Locust Bees = false

## Enables spectating Flowerman
# Setting type: Boolean
# Default value: true
Flowerman = true

## Enables spectating ForestGiant
# Setting type: Boolean
# Default value: true
ForestGiant = true

## Enables spectating Hoarding bug
# Setting type: Boolean
# Default value: true
Hoarding bug = true

## Enables spectating MouthDog
# Setting type: Boolean
# Default value: true
MouthDog = true

## Enables spectating Nutcracker
# Setting type: Boolean
# Default value: true
Nutcracker = true

## Enables spectating Puffer
# Setting type: Boolean
# Default value: true
Puffer = true

## Enables spectating Bunker Spider
# Setting type: Boolean
# Default value: true
Bunker Spider = true

## Enables spectating Earth Leviathan
# Setting type: Boolean
# Default value: true
Earth Leviathan = true

## Enables spectating Spring
# Setting type: Boolean
# Default value: true
Spring = true

## Enables spectating Vermin
# Setting type: Boolean
# Default value: true
Vermin = true

## Enables spectating Ogopogo
# Setting type: Boolean
# Default value: false
Ogopogo = false

## Enables spectating Aloe
# Setting type: Boolean
# Default value: true
Aloe = true

## Enables spectating Bush Wolf
# Setting type: Boolean
# Default value: true
Bush Wolf = true

## Enables spectating Landmines
# Setting type: Boolean
# Default value: false
Landmine = false

## Enables spectating Turrets
# Setting type: Boolean
# Default value: false
Turret = false

Ravencoil = false

Hoarding Spirit = true

Phantom Bracken = true

GhostDog = true

Triplet = false

Shisha = false

Walker = false

Duck = true

LethalGargoyle = true

Glass Masked = true

GlassDog = true

GlassCracker = true

Glass Baboon hawk = true

Glass Bracken = true

Glass Butler = true

Glass Puffer = true

Glass Jester = true

Glass Maneater = true

Glass Worm = true

GlassMech = true

Glass Blob = true

GlassCoil = true

Glass Crawler = true

Glass Girl = true

Glass Surgeon = true

Glass bug = true

Glass Spider = true

GlassForestGiant = true

Leaf boy = false

Prototax = false

Smol Poofer = true

WaxSoldier = true

Peeper = false

SlendermanEnemy = false

blueGnome = true

redGnome = true

Hoarder Bugling = true

Hoarder Queen = true

Sandman = true

GhostBird = true

Herobrine = true

scp1507Alpha = true

scp1507 = true

Shrimp = true

Halt = true

Gnome = true

