## Settings file was created by plugin NavMeshInCompanyRedux v1.1.1
## Plugin GUID: T-Rizzle.NavMeshInCompanyRedux

[Debug]

## Enable the debug logs used for this mod.
# Setting type: Boolean
# Default value: false
EnableDebugLog  (Client only) = false

[NavMeshInCompany Redux]

## Should the NavMesh be dynamically regenerated upon landing? 
##  The regeneration will be done asynchronously! 
##  This allows mod added buildings to added to the NavMesh at runtime.
# Setting type: Boolean
# Default value: true
Enable Dynamic Nav Regen = true

## Some mod added buildings are spawned after the scene is loaded. This may cause the NavMesh regeneration to be too early. 
##  This option will tell dynamic regeneration to wait a short delay before regenerating the NavMesh.
# Setting type: Boolean
# Default value: true
Defer Dynamic Regen = true

