## Settings file was created by plugin AlwaysInBounds v1.2.1
## Plugin GUID: Tomatobird.AlwaysInBounds

[General]

## Where to teleport player when player falls out of bounds
# Setting type: String
# Default value: Dynamic
# Acceptable values: Ship, Entrance, Dynamic
TpLocationConfig = Dynamic

## Should KillPlayer method be patched to always spawn body?
# Setting type: Boolean
# Default value: true
SpawnPlayerBody = true

## Disable fear effect from seeing a player body in ship?
# Setting type: Boolean
# Default value: true
RemoveBodyFearInShip = true

