## Settings file was created by plugin NuclearCruiser v1.3.0
## Plugin GUID: Tomatobird.NuclearCruiser

[Compatibility]

## This patch is automatically applied if FasterItemDropShip is installed. You can also manually force it here.
# Setting type: Boolean
# Default value: false
ForcePatchCruiserStart = false

[Cruiser]

## Should nuclear cruiser have infinite boosts?
# Setting type: Boolean
# Default value: true
InfiniteBoosts = true

## Fragility of the cruiser. Fragile makes cruiser take heavy damage from smaller impacts. Extreme makes cruiser on any impact past minimum crash velocity threshold and may explode upon landing on some moons if set too low.
# Setting type: Fragility
# Default value: Fragile
# Acceptable values: Default, Fragile, Extreme
CruiserFragility = Fragile

## Damaging impact velocity threshold. Default threshold is reached at very low speeds.
# Setting type: Single
# Default value: 4
MinimumCrashVelocity = 4

## Amount of damage cruiser takes on impact. Only used when CruiserFragility is set to Fragile.
# Setting type: Int32
# Default value: 4
CrashDamage = 4

## Amount of time in seconds the cruiser stays more protected from damage when detached from dropship.
# Setting type: Single
# Default value: 3
ProtectionTime = 3

## If set to more than 0, this amount of credits will be added to the terminal when a nuclear cruiser is spawned.
# Setting type: Int32
# Default value: 0
PurchaseCompensation = 0

## Should the added compensation be announced in chat?
# Setting type: Boolean
# Default value: true
CompensationNotification = true

[Explosion]

## How large should the explosion be? 0.5 can already cover most of a moon's surface.
# Setting type: Single
# Default value: 0.75
NukeScale = 0.75

## Sound volume of the nuclear explosion.
# Setting type: Single
# Default value: 0.67
# Acceptable value range: From 0 to 1
NukeVolume = 0.67

## Intensity of the light from the nuclear explosion.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
NukeLightIntensity = 1

## How far nuke explosion decals are visible.
# Setting type: Single
# Default value: 48
DecalVisibilityRange = 48

## How large are the nuke explosion decals.
# Setting type: Single
# Default value: 4
DecalScale = 4

## Should camera shake upon explosion?
# Setting type: Boolean
# Default value: true
ShakeCamera = true

[General]

## Chance of cruiser being a Nuclear Cruiser. 1 is always, 0 is never.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
NuclearCruiserChance = 0.15

## Should a warning pop up when a Nuclear Cruiser is spawned?
# Setting type: Boolean
# Default value: true
NuclearCruiserWarning = true

## Should a radiation warning pop up when a Nuclear Cruiser is spawned?
# Setting type: Boolean
# Default value: true
NuclearCruiserRadiationWarning = true

NukeScale = 0.75

InfiniteBoosts = true

CruiserFragility = Fragile

MinimumCrashVelocity = 4

CrashDamage = 4

OnlyPatchVanillaCruiser = true

