## Settings file was created by plugin UnlockOnStart v0.4.0
## Plugin GUID: UnlockOnStart

[Decorations]

## Unlock the cozy lights on new save.
# Setting type: Boolean
# Default value: false
Cozy Lights = false

## Unlock the disco ball on new save.
# Setting type: Boolean
# Default value: false
Disco Ball = false

## Unlock the goldfish on new save.
# Setting type: Boolean
# Default value: false
Goldfish = false

## Unlock the jack-o-lantern on new save.
# Setting type: Boolean
# Default value: false
Jack-O-Lantern = false

## Unlock the plushie pajama on new save.
# Setting type: Boolean
# Default value: false
Plushie Pajama = false

## Unlock the record player on new save.
# Setting type: Boolean
# Default value: false
Record Player = false

## Unlock the romantic table on new save.
# Setting type: Boolean
# Default value: false
Romantic Table = false

## Unlock the shower on new save.
# Setting type: Boolean
# Default value: false
Shower = false

## Unlock the table on new save.
# Setting type: Boolean
# Default value: false
Table = false

## Unlock the television on new save.
# Setting type: Boolean
# Default value: false
Television = false

## Unlock the toilet on new save.
# Setting type: Boolean
# Default value: false
Toilet = false

## Unlock the welcome mat on new save.
# Setting type: Boolean
# Default value: false
Welcome Mat = false

[General]

## Enable debug logging.
# Setting type: Boolean
# Default value: true
Debugging = true

[Inverse Teleporter]

## Unlock the inverse teleporter on new save.
# Setting type: Boolean
# Default value: false
Inverse Teleporter = false

[Items]

## How many boomboxes to unlock on new save.
# Setting type: Int32
# Default value: 0
Boombox = 0

## How many extension ladders to unlock on new save.
# Setting type: Int32
# Default value: 0
Extension Ladder = 0

## How many flashlights to unlock on new save.
# Setting type: Int32
# Default value: 0
Flashlight = 0

## How many inhalants to unlock on new save.
# Setting type: Int32
# Default value: 0
TZP-Inhalant = 0

## How many jetpacks to unlock on new save.
# Setting type: Int32
# Default value: 0
Jetpack = 0

## How many keys to unlock on new save.
# Setting type: Int32
# Default value: 0
Key = 0

## How many lockpickers to unlock on new save.
# Setting type: Int32
# Default value: 0
Lockpicker = 0

## How many pro-flashlights to unlock on new save.
# Setting type: Int32
# Default value: 0
Pro-flashlight = 0

## How many radar boosters to unlock on new save.
# Setting type: Int32
# Default value: 0
Radar Booster = 0

## How many shotguns to unlock on new save.
# Setting type: Int32
# Default value: 0
Shotgun = 0

## How many shotgun shells to unlock on new save.
# Setting type: Int32
# Default value: 0
Shotgun Shells = 0

## How many shovels to unlock on new save.
# Setting type: Int32
# Default value: 0
Shovel = 0

## How many spray paints to unlock on new save.
# Setting type: Int32
# Default value: 0
Spray Paint = 0

## How many stun grenades to unlock on new save.
# Setting type: Int32
# Default value: 0
Stun Grenade = 0

## How many walkie-talkies to unlock on new save.
# Setting type: Int32
# Default value: 0
Walkie-Talkie = 0

## How many zap guns to unlock on new save.
# Setting type: Int32
# Default value: 0
Zap Gun = 0

[Modded]

Default = false

Microwave = false

Sofa chair = false

Fridge = false

Classic painting = false

Electric chair = false

Dog house = false

Fancy Coat Hanger = false

Trash Hoop = false

Cutiefly Case = false

Teddy Bear = false

Jim Plaque = false

Denomination Analyzer = false

Toasty Toaster = false

SWRD-1 = false

AIRCONTROL = false

DAISY = false

Timmy Bass = false

Shutter = false

Workshop = false

WorkTable = false

WideCabinet = false

Bed0 = false

Bed1 = false

Bed2 = false

Bed3 = false

Crib0 = false

Tree0 = false

Tree1 = false

Table0 = false

Fern0 = false

Fern1 = false

Fireplace = false

Counter0 = false

Lamp0 = false

Lamp1 = false

Aquarium0 = false

Wall0 = false

Wall1 = false

Wall2 = false

Wall3 = false

Wall4 = false

Wall5 = false

Wall6 = false

Wall7 = false

Wall8 = false

Wall9 = false

Wall10 = false

Wall11 = false

Wall12 = false

Wall13 = false

Wall14 = false

XMASTree0 = false

Charger0 = false

Screen0 = false

AirCon0 = false

Speaker0 = false

Speaker1 = false

Alarm0 = false

Alarm1 = false

Alarm2 = false

Alarm3 = false

Poster0 = false

Poster1 = false

Poster2 = false

Poster3 = false

Poster4 = false

Poster5 = false

Chair0 = false

Chair1 = false

Chair2 = false

Chair3 = false

Shelf0 = false

Shelf1 = false

Shelf2 = false

FloorPiano = false

Bodycam = false

Small Rug = false

Large Rug = false

Fatalities Sign = false

BirdBhudda = false

CrystalMiami = false

EPear = false

ManManKey = false

MimiSunas = false

MrMoyai = false

MuunButter = false

Namsom = false

NotLuffy = false

Pezza = false

PumpKeen = false

Skadey = false

Reptilian = false

ClownSuit = false

Arctic = false

Dog = false

Elite = false

Highclass = false

Hightech = false

Speedster = false

Used = false

Workout = false

Berry Blast Gradient = false

Brawl Gradient = false

Grand Gradient = false

Medal Gradient = false

Neapolitan Gradient = false

Sunrise Gradient = false

Ultra Gradient = false

Unpleasant Gradient = false

1000 Quota Stare = false

Andrew = false

Football = false

Miku = false

Wall-E = false

Facility Guard = false

Glow = false

Kirby = false

Minion = false

Skeleton = false

Slayer = false

Smile = false

Engineering suit = false

PIGGY = false

AC0 = false

MISS CRUISER = false

LIZ-ZIE = false

SHRIMP = false

SEA-M1 = false

CLEANER = false

BEARTRAP = false

BALD = false

HERMIT = false

Construction = false

Custodian = false

Maintenance = false

Squad Blue = false

Squad Red = false

Squad Relay = false

Shutter Switch = false

Dartboard = false

??? = false

Piggy = false

Sneako Chair = false

Gate0 = false

Door0 = false

Door1 = false

Door2 = false

[Modded.Items]

Mapper = 0

Weed killer = 0

Belt bag = 0

Missile = 0

Fake SnailCat = 0

SnailCat = 0

Geiger counter = 0

Handlamp = 0

Bandages = 0

Medical Kit = 0

Defibrillator = 0

Productivity Autoinjector = 0

Toolkit = 0

Shift Controller = 0

Pickle On A Stick = 0

Heavy Shotgun Ammo = 0

Spooky ammo = 0

Rocket Launcher = 0

Flaregun = 0

Emergency Flare (ammo) = 0

Toy Hammer = 0

Remote Radar = 0

Utility Belt = 0

Hacking Tool = 0

Pinger = 0

Scarlet Key = 0

Junk Radar = 0

Glowstick (Dropped) = 0

Abandoned Pro-Flashlight = 0

Emergency Flare = 0

Toolbox = 0

Radiobox = 0

Gummy flashlight = 0

Axe = 0

Dart = 0

Emergency Injector = 0

[Money]

## How much money to unlock on new save.
# Setting type: Int32
# Default value: 60
Money = 60

[Ship Upgrades]

## Unlock the loud horn on new save.
# Setting type: Boolean
# Default value: false
Loud Horn = false

## Unlock the signal translator on new save.
# Setting type: Boolean
# Default value: false
Signal Translator = false

[Suits]

## Unlock the hazmat suit on new save.
# Setting type: Boolean
# Default value: false
Hazard Suit = true

## Unlock the green suit on new save.
# Setting type: Boolean
# Default value: false
Green Suit = true

## Unlock the pajama suit on new save.
# Setting type: Boolean
# Default value: false
Pajama Suit = true

## Unlock the purple suit on new save.
# Setting type: Boolean
# Default value: false
Purple Suit = true

## Unlock the bee suit on new save.
# Setting type: Boolean
# Default value: false
Bee Suit = true

## Unlock the bunny suit on new save.
# Setting type: Boolean
# Default value: false
Bunny Suit = true

[Teleporter]

## Unlock the teleporter on new save.
# Setting type: Boolean
# Default value: false
Teleporter = false

