## Settings file was created by plugin CountryRoadCreature v1.0.9
## Plugin GUID: wexop.country_road_creature

[General]

## Chance for Country road creature to spawn for any moon, example => assurance:100,offense:50 . You need to restart the game.
# Setting type: String
# Default value: Modded:40,ExperimentationLevel:20,AssuranceLevel:20,VowLevel:20,OffenseLevel:25,MarchLevel:25,RendLevel:30,DineLevel:30,TitanLevel:50,Adamance:50,Embrion:50,Artifice:55
SpawnRarity = Offense:10,March:15,Adamance:15,Embrion:30,Dine:2,Titan:20,Artifice:30,Tenebrous:5,Calamitous:9,Boreal:15,Verdance:4,Precipice:7,Incalescense:7,Rampart:4,Retinue:8,Detritus:10,Wither:30,Siabudabu:45,Lament:10,Pareidolia:5,The Iris:20,Kanie:20,Chronos:2,Bilge:5,Flicker:1

## Max country road creatures spawn number. You need to restart the game.
# Setting type: Int32
# Default value: 1
MaxSpawnNumber = 1

## Chance for creature hand scrap to spawn for any moon, example => assurance:100,offense:50 . You need to restart the game.
# Setting type: String
# Default value: Modded:30,ExperimentationLevel:20,AssuranceLevel:20,VowLevel:25,OffenseLevel:25,MarchLevel:30,RendLevel:35,DineLevel:35,TitanLevel:35,Adamance:35,Embrion:35,Artifice:40
HandScrapSpawnRarity = Modded:8,RendLevel:8,DineLevel:8,TitanLevel:8,AdamanceLevel:4,OffenseLevel:4,ArtificeLevel:8

## Chance for creature head scrap to spawn for any moon, example => assurance:100,offense:50 . You need to restart the game.
# Setting type: String
# Default value: Modded:10,ExperimentationLevel:5,AssuranceLevel:5,VowLevel:10,OffenseLevel:10,MarchLevel:10,RendLevel:13,DineLevel:13,TitanLevel:15,Adamance:15,Embrion:20,Artifice:22
HeadScrapSpawnRarity = Modded:8,RendLevel:8,DineLevel:8,TitanLevel:8,AdamanceLevel:4,OffenseLevel:4,ArtificeLevel:8

## Chance for creature head scrap item to hit player after lights animation. You don't need to restart the game.
# Setting type: Int32
# Default value: 10
HeadScrapHitPlayerChance = 10

[MonsterBehavior]

## Country road Creature base speed. You don't need to restart the game.
# Setting type: Single
# Default value: 3.33
CountryRoadBaseSpeed = 3.33

## Country road Creature max speed multiplier, based on his angry gauge. You don't need to restart the game.
# Setting type: Single
# Default value: 2.4
CountryRoadMaxSpeedMultiplier = 2.4

