## Settings file was created by plugin FeedFish v1.4.0
## Plugin GUID: Yorimor.FeedFish

[Fish]

## Name of the crews goldfish
# Setting type: String
# Default value: Daryl
GoldfishName = Daryl

## Enable rewards when feeding
# Setting type: Boolean
# Default value: true
EnableRewards = true

## If true, fed bodies will count as recovered at the end of round
# Setting type: Boolean
# Default value: false
RecoverFedBodies = true

## If true, players who jump into the company building water will count as recovered
# Setting type: Boolean
# Default value: false
RecoverCompanyDrowned = false

[Rewards]

## Chance for no reward
# Setting type: Int32
# Default value: 60
ChanceNone = 55

## Chance for small credit reward
# Setting type: Int32
# Default value: 10
CreditsSmall = 16

## Chance for medium credit reward
# Setting type: Int32
# Default value: 5
CreditsMedium = 7

## Chance for small quota reward
# Setting type: Int32
# Default value: 10
QuotaSmall = 16

## Chance for medium quota reward
# Setting type: Int32
# Default value: 5
QuotaMedium = 6

