## Settings file was created by plugin Fancy Weather API v1.0.0
## Plugin GUID: zigzag.fancyweatherapi

[Debug]

## Enable more explicit logs in the console (for debug reasons).
# Setting type: Boolean
# Default value: false
Debug logs = false

